<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet" />

      <!-- Top Toolbar Search -->      

      <mat-toolbar color="primary" class="rcorners">
        <mat-toolbar-row></mat-toolbar-row>
        <mat-toolbar-row class="rcorners">
          <button mat-raised-button class="wrapper">
            <mat-icon class="box">search</mat-icon>
            <mat-form-field class="center">
              <input matInput class="wrapper" placeholder="Buscar en obio.com.mx" value="Cafe" >
            </mat-form-field>
          </button>
        </mat-toolbar-row>              
      </mat-toolbar>

<!-- Bottom Toolbar Navigation  -->
<mat-toolbar [color]="'primary'" class="elevation-appbar" class="rcorners">
    <nav mat-tab-nav-bar
    mat-stretch-tabs
    class="center"
    [backgroundColor]="'primary'"
    [color]="'accent'">
      <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
        <div fxLayout="column" fxLayoutAlign="center center" class="containerNavbar">
<!--          <mat-icon fontSet="material-icons-outlined">{{link.icon}}</mat-icon>-->
          <mat-icon>{{link.icon}}</mat-icon>
          <span>{{link.label}}</span>
        </div>
      </a>
    </nav>        
</mat-toolbar>
